*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'AJensonPro-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../font/AdobeJensonPro/AdobeJensonProBold.otf') format('opentype')
}
@font-face {
  font-family: 'AJensonPro-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../font/AdobeJensonPro/AdobeJensonProRegular.otf') format('opentype')
}

body{
  background: #181818;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
body::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

#container{
  width: 100vw;
  height: 300vh;
}

.content-01{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  background: #181818;
  width: 100%;
  max-width: 1440px;
  height: calc(var(--vh, 1vh) * 100);
  margin: auto;
}

.content-02{
  width: 100vw;
  height: 100vh;
  margin: auto;
  background: #fffde8;
}

.content-03{
  width: 100vw;
  height: 100vh;
  margin: auto;
  background: #181818; 
}

.content-menu {
  height: auto;
  position: absolute;
  z-index: 1;
}

.content-menu a{
  text-decoration: none;
}

.content-01 .content-menu li {
  display: flex;
  height: auto;
  color: #ffffff;
  list-style: none;
  font-family: 'AJensonPro-Regular';
  font-weight: 400;
  font-size: min(10vw, 146px);
  overflow: hidden;
}

.content-menu span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s;
}

.content-menu.anim span {
  transform: translate(0, 0);
}

.content-menu-concept span:nth-child(2) {
  transition-delay: 0.06s;
}
.content-menu-concept span:nth-child(3) {
  transition-delay: 0.12s;
}
.content-menu-concept span:nth-child(4) {
  transition-delay: 0.18s;
}
.content-menu-concept span:nth-child(5) {
  transition-delay: 0.24s;
}
.content-menu-concept span:nth-child(6) {
  transition-delay: 0.30s;
}
.content-menu-concept span:nth-child(7) {
  transition-delay: 0.36s;
}
.content-menu-concept span:nth-child(8) {
  transition-delay: 0.42s;
}
.content-menu-concept span:nth-child(9) {
  transition-delay: 0.48s;
}
.content-menu-concept span:nth-child(10) {
  transition-delay: 0.54s;
}
.content-menu-concept span:nth-child(11) {
  transition-delay: 0.6s;
}
.content-menu-concept span:nth-child(12) {
  transition-delay: 0.66s;
}
.content-menu-concept span:nth-child(13) {
  transition-delay: 0.72s;
}
.content-menu-concept span:nth-child(14) {
  transition-delay: 0.78s;
}
.content-menu-concept span:nth-child(15) {
  transition-delay: 0.84s;
}
.content-menu-concept span:nth-child(16) {
  transition-delay: 1.48s;
}
.content-menu-concept span:nth-child(17) {
  transition-delay: 1.48s;
}
.content-menu-concept span:nth-child(18) {
  transition-delay: 1.48s;
}
.content-menu-concept span:nth-child(19) {
  transition-delay: 1.48s;
}
.content-menu-concept span:nth-child(20) {
  transition-delay: 1.48s;
}
.content-menu-concept span:nth-child(21) {
  transition-delay: 1.48s;
}
.content-menu-concept span:nth-child(21) {
  transition-delay: 1.48s;
}
.content-menu-concept span:nth-child(22) {
  transition-delay: 0.84s;
}
.content-menu-concept span:nth-child(22) {
  transition-delay: 0.9s;
}
.content-menu-concept span:nth-child(23) {
  transition-delay: 0.96s;
}
.content-menu-concept-desc span {
  transition-delay: 2.42s;
}

.top-page-head {
  display: block;
  transform: translate(0, -80%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
  transition-delay: 2.8s;
}

.top-page-head.anim {
  transform: translate(0, 0);
}

.polish{
  color: #dfe200;
}

.rhombus{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rhombus img{
  width: 80%;
}

/*------------------------------------------------------------------------------------*/

@media screen and (max-width: 699px) {
  .top-page-head{
    position: fixed;
    width: 100vw;
    height: auto;
    z-index: 999;
  }

  .HEADER{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: auto;
    padding: 20px 30px;
  }

  .LOGO{
    width: 40px;
  }

  .logo{
    width: 100%;
    height: auto;
  }

  .menu img{
    width: 40px;
    height: 40px;
  }

  .desc{
    margin: auto;
    margin-top: 20px;
    font-size: max(5vw,17px);
    font-family: "Noto Serif JP",serif;
  }
}

@media screen and (min-width: 700px) {

  .top-page-head{
    position: fixed;
    width: 100vw;
    height: auto;
    z-index: 999;
  }

  .HEADER{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: auto;
    padding: 42px 60px;
  }

  .LOGO{
    width: 50px;
  }

  .logo{
    width: 100%;
    height: auto;
  }

  .menu img{
    width: 50px;
    height: 50px;
  }

  .desc{
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    font-size: min(4vw,38px);
    font-family: "Noto Serif JP",serif;
    letter-spacing: 0.1em;
  }

  .content-02{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 42px 60px;
  }

  .content-max-width{
    display: flex;
    max-width: 1440px;
  }

  .content-02-divide{
    display: flex;
    align-items: center;
    width: 100%;
  }

  .content-02-left img{
    width: 100%;
    padding-right: 80px;
  }

  .content-02-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .content-02-right-box{
    display: block;
    width: 100%;
    height: auto;
  }

  .title-box .title-en{
    font-family: 'AJensonPro-Regular';
    font-weight: 400;
    font-size: min(3vw, 20px);
    margin-left: min(-0.2vw, -2px);
    color: #181818;
  }

  .title-box .title-ja{
    font-family: "Noto Serif JP",serif;
    font-weight: 400;
    font-size: min(4vw, 36px);
    margin-bottom: min(2vw, 16px);
    margin-left: min(-0.5vw, -4px);
    line-height: 1.2;
    letter-spacing: 0.1em;
  }

  .desc-box{
    width: 100%;
    padding-right: 30px;
  }

  .desc-box .desc-ja{
    font-family: "Noto Serif JP",serif;
    font-weight: normal;
    font-size: 14px;
    color: #323232;
    line-height: 1.9;
    letter-spacing: 0.1em;
  }
  
}

.noise{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 300vh;
  background: url(../img/noise.png);
  opacity: 0.7;
  animation: noise_anima 1s steps(12) infinite;
  z-index: 999;
}

@keyframes noise_anima {
	from { background-position: 0 0; }
	to { background-position: 123px 456px; }
}